@import "tailwindcss";

body{
    background-color: black;
}
/* background image using Skills component section */
/* .back{
    background-image:url(./assets/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


} */

